<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".registro_empresa"
            android:exported="false" />
        <activity
            android:name=".cambio_de_contrasena"
            android:exported="false" />
        <activity
            android:name=".ingresarCorreoRecupContrasena"
            android:exported="false" />
        <activity
            android:name=".Detalle_Puesto"
            android:exported="false" />
        <activity
            android:name=".registroSolicitante"
            android:exported="false" />
        <activity
            android:name=".requests"
            android:exported="false" />
        <activity
            android:name=".Empleadores"
            android:exported="false"
            android:label="@string/title_activity_empleadores" />
        <activity
            android:name=".recoveryCode"
            android:exported="false" />
        <activity
            android:name=".passwordResetSuccessful"
            android:exported="false" />
        <activity
            android:name=".forgotPassword"
            android:exported="false" />
        <activity
            android:name=".rolSelector"
            android:exported="false" />
        <activity
            android:name=".solicitante"
            android:exported="false"
            android:label="@string/title_activity_solicitante" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>