<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/agaloicono2"
        android:label="AGALO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light"
        tools:targetApi="31">
        <activity
            android:name=".solicitudes_aceptadas"
            android:exported="false" />
        <activity
            android:name=".cardTrabajosEliminados"
            android:exported="false" />
        <activity
            android:name=".trabajos_Inactivos"
            android:exported="false" />
        <activity
            android:name=".Info_Perfil_Solicitante"
            android:exported="false" />
        <activity
            android:name=".eeducacion"
            android:exported="false" />
        <activity
            android:name=".ventas"
            android:exported="false" />
        <activity
            android:name=".Servicios"
            android:exported="false" />
        <activity
            android:name=".hosteleria"
            android:exported="false" />
        <activity
            android:name=".Salud"
            android:exported="false" />
        <activity
            android:name=".ddelivery"
            android:exported="false" />
        <activity
            android:name=".Remoto"
            android:exported="false" />
        <activity
            android:name=".Freelance"
            android:exported="false" />
        <activity
            android:name=".Domestico"
            android:exported="false" />
        <activity
            android:name=".Construccion"
            android:exported="false" />
        <activity
            android:name=".Cambiar_ContrasenaEmpleador"
            android:exported="false" />
        <activity
            android:name=".editar_perfil_solicitante"
            android:exported="false" />
        <activity
            android:name=".editar_publicacion"
            android:exported="false" />
        <activity
            android:name=".card_chats"
            android:exported="false" />
        <activity
            android:name=".DetallePublicacion"
            android:exported="false" />
        <activity
            android:name=".cardPublicacion"
            android:exported="false" />
        <activity
            android:name=".cardSolicitudes"
            android:exported="false" />
        <activity
            android:name=".editar_perfil_Empleador"
            android:exported="false" />
        <activity
            android:name=".cardTrabajosEmpresa"
            android:exported="false" />
        <activity
            android:name=".registro_empresa"
            android:exported="false" />
        <activity
            android:name=".cambio_de_contrasena"
            android:exported="false" />
        <activity
            android:name=".cambiar_contrasena_Solicitante"
            android:exported="false" />
        <activity
            android:name=".ingresarCorreoRecupContrasena"
            android:exported="false" />
        <activity
            android:name=".Detalle_Puesto"
            android:exported="false" />
        <activity
            android:name=".registroSolicitante"
            android:exported="false" />
        <activity
            android:name=".requests"
            android:exported="false" />
        <activity
            android:name=".Empleadores"
            android:exported="false"
            android:label="@string/title_activity_empleadores" />
        <activity
            android:name=".recoveryCode"
            android:exported="false" />
        <activity
            android:name=".passwordResetSuccessful"
            android:exported="false" />
        <activity
            android:name=".forgotPassword"
            android:exported="false" />
        <activity
            android:name=".rolSelector"
            android:exported="false" />
        <activity
            android:name=".solicitante"
            android:exported="false"
            android:label="@string/title_activity_solicitante" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mi_google_maps_api_key" />
    </application>

</manifest>